body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.flexible{
    display: flex;
}
.half-width-left{
    width: 50%;
    margin-left: 30px;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 180px;
}
.half-width-left h1{
    font-size: 50px;
    margin: 0%;
    color: #575757;
}
.half-width-left p{
    font-size: 13px;
    color: #575757;
    margin-bottom: 30px;
}
.half-width-right{
    width: 50%;
    margin-left: 20px;
    padding: 60px 50px;
}
.half-width-right img{
    width: 100%;
}
.orange{
    color: #FB934A;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #FB9149, #FD4D30);
    border-radius: 30px;
    color: white
}
.about-me{
    background-image: url(images/7.png);
}